@import "navigation";
@import "rouge";
@import "markdown";
@import "navbar";
@import "layout";
@import "note";

body {
  overflow: hidden;
}

@media only screen and (min-width: 600px) {
  .mobile {
    display: none !important;
  }
}

@media only screen and (max-width: 600px) {
  .desktop {
    display: none !important;
  }
}