// Markdown elements

// Colors
c-r, .c-r { // Color Red
  color: #ED4245 !important;
}

c-o, .c-o { // Color Orange
  color: #f2ad58 !important;
}

c-y, .c-y { // Color Yellow
  color: #FEE75C !important;
}

c-g, .c-g { // Color Green
  color: #57F287 !important;
}

c-b, .c-b { // Color Blue
  color: #5865F2 !important;
}

c-p, .c-p { // Color Purple
  color: #a158f2 !important;
}

// Titles
t-def, .t-def {
  font-size: 18px;
  font-weight: bold;
  display: flex;
  padding-bottom: 0.1em;
  border-bottom: 1px solid #efe8e8;
  margin-bottom: 8px;

  &::before {
    @extend .c-p;
    content: "Definicija - ";
    white-space: pre;
  }
}

t-ex, .t-ex {
  font-size: 18px;
  font-weight: bold;
  display: flex;
  padding-bottom: 0.1em;
  border-bottom: 1px solid #efe8e8;
  margin-bottom: 8px;

  &::before {
    @extend .c-o;
    content: "Primer - ";
    white-space: pre;
  }
}

t-conc, .t-conc {
  @extend .c-b;
  font-size: 18px;
  font-weight: bold;
  display: flex;
  padding-bottom: 0.1em;
  border-bottom: 1px solid #efe8e8;
  margin-bottom: 8px;
}

// Embeds
e-yt {
  iframe {
    border: 2px solid black;
  }
}