<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">

    {% include cdn/math_jax.html %}
    {% include cdn/google_analytics.html %}
  </head>
  <body>
    {% include toc.html %}
    {% include navbar_note.html %}

    <div class="layout-body markdown-body" id="layout-body">
      {{ content }}
    </div>

    {% include cdn/anchor_js.html %}
    {% include custom_elements.html %}
  </body>
</html>