<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    
    <!-- Math Jax -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.3/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-V8HYKKZTP6"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-V8HYKKZTP6');
    </script>
  </head>
  <body>
    {% include toc.html %}
    {% include note_navbar.html %}
    <div class="layout-body markdown-body" id="layout-body">
      {{ content }}
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/4.1.0/anchor.min.js" integrity="sha256-lZaRhKri35AyJSypXXs4o6OPFTbTmUoltBbDCbdzegg=" crossorigin="anonymous"></script>
    <script>anchors.add();</script>
    <script>
      function scrolTop() {
        const layoutBody = document.getElementById("layout-body");
        layoutBody.scrollTop = 0;
      }

      function preparePrint() {
        Array.from(document.getElementsByClassName("anchorjs-link")).forEach((element) => element.remove());
        const mdBody = document.getElementById("layout-body");
        document.body.innerHTML = "";
        document.body.appendChild(mdBody);
        document.body.style.overflow = "auto";
        mdBody.style.overflowY = "hidden";
        mdBody.style.padding = "0px";
        
        window.print();
      }

      window.onafterprint = function() {
        location.reload();
      }
    </script>
  </body>
</html>